<body>
    <div class="container pt-10 shadow-2xl sm:mx-auto">
     
           
           
             
            <form [formGroup]="itemEntryForm" (ngSubmit)="onSubmit()">
                <div class="grid grid-cols-1 gap-4  sm:grid-cols-3">
           
                
                <div>
                <section class="full-width-input ">
                    <mat-label>Type* :</mat-label>
                    <mat-radio-group formControlName="type">
                         <mat-radio-button class="radioButton"  value="Goods">Goods</mat-radio-button>
                         <mat-radio-button class="radioButton"  value="Service">Service</mat-radio-button>
                        
                       </mat-radio-group>
                  </section>
                </div>
            
                
                <div> 
                    <mat-form-field class="full-width-input">
                        <mat-label >Item Group Name* :</mat-label>
                    <input matInput name="item_name" placeholder="Item Group name" formControlName="item_name">
                    <mat-error *ngIf="itemEntryForm.get('item_name').invalid">Item Group name</mat-error>
                    </mat-form-field>
                </div>
               
                <div> 
                   
                    <mat-form-field appearance="fill">
                      
                        <mat-label>Description*</mat-label>
                        <textarea matInput formControlName="description" matTextareaAutosize matAutosizeMinRows=4 matAutosizeMaxRows=10></textarea>
                      </mat-form-field>
                </div>
              
                
                   
                    <div> 
                        <mat-form-field appearance="outline" class="full-width-input"> 
                            <mat-label >Unit*  :</mat-label>
                          <mat-select formControlName="unit">
                            <mat-option value="pc">PC</mat-option>
                            <mat-option value="roll">Roll</mat-option>
                            <mat-option value="carton">Carton</mat-option>
                          </mat-select>
                          <mat-label><mat-icon>production_quantity_limits</mat-icon> <b>*Unit </b> <i> label</i></mat-label>
                          <mat-hint *ngIf="!itemEntryForm.get('unit').valid && itemEntryForm.get('unit').touched" class="form-text text-muted">*Unit is required</mat-hint>
                        </mat-form-field>  
                      </div>
                      
             
               
          
         
             
                <div> 
                    <mat-form-field appearance="outline" class="full-width-input">  
                      
                      <mat-select formControlName="tax">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                      </mat-select>
                      <mat-label><mat-icon>price_check</mat-icon> <b>*Tax </b> <i> label</i></mat-label>
              
                    </mat-form-field>  
                  </div>
          
       
       
            
                
                <div> 
                    <mat-form-field appearance="outline" class="full-width-input">  
                      
                        <mat-select formControlName="manufacturer">
                        <mat-option  *ngFor="let tax of taxes" [value]="tax.name">{{ tax.name }}</mat-option>
                        <hr>
                        <div class="">
                            <button type="button" class="btn btn-primary" (click)="addManufacture()">Add</button>
                        </div>
                    </mat-select>
                   
                      <mat-label><mat-icon>precision_manufacturing</mat-icon> <b>*Manufacturer </b> <i> label</i></mat-label>
              
                    </mat-form-field>  
                  </div>
                  
            
  
     
           
            <div> 
                <mat-form-field appearance="outline" class="full-width-input">  
                   
                    <mat-select formControlName="brand">
                    <mat-option  *ngFor="let tax of taxes" [value]="tax">{{ tax.name }}</mat-option>
                    <hr>
                    <div class="">
                        <button type="button" class="btn btn-primary" (click)="addManufacture()">Add</button>
                    </div>
                </mat-select>
               
                  <mat-label><mat-icon>branding_watermark</mat-icon> <b>*Brand </b> <i> label</i></mat-label>
          
                </mat-form-field>  
              </div>
              <div> 
                <mat-form-field appearance="outline" class="full-width-input">  
                   
                    <mat-select (selectionChange)="getAttr($event.value)">
                    <mat-option  *ngFor="let attribute of attributes" [value]="attribute.name">{{ attribute.name }}</mat-option>
                    
                </mat-select>
               
                  <mat-label><mat-icon>branding_watermark</mat-icon> <b>*Attribute </b> <i> label</i></mat-label>
          
                </mat-form-field>  
              </div>
              <div> 
                <mat-form-field class="full-width-input">
                <mat-label >Item Code</mat-label>
                <input matInput name="item_code" placeholder="Item Code" formControlName="item_code">
               
                </mat-form-field>
            </div>
              <div> 
                <mat-form-field class="full-width-input">
                <mat-label >Color</mat-label>
                <input matInput name="color" placeholder="Color ,Storage" formControlName="color">
               
                </mat-form-field>
            </div>
            <div> 
                <mat-form-field class="full-width-input">
                <mat-label >Storage</mat-label>
                <input matInput name="item_attribute2" placeholder="Storage" formControlName="storage">
               
                </mat-form-field>
            </div>
            <div> 
              <mat-form-field class="full-width-input">
              <mat-label >Others</mat-label>
              <input matInput name="item_attribute2" placeholder="Weight,Variants etc" formControlName="other">
             
              </mat-form-field>
          </div>

          <div> 
            <mat-form-field class="full-width-input">
            <mat-label >Price</mat-label>
            <input matInput type="number" name="price" placeholder="Price" formControlName="price">
           
            </mat-form-field>
        </div>
        <div> 
          <mat-form-field class="full-width-input">
          <mat-label >Quantity</mat-label>
          <input matInput type="number" name="quantity" placeholder="Quantity" formControlName="quantity">
         
          </mat-form-field>
      </div>
    
      <div>
        <section class="full-width-input ">
            <mat-label>Is Active* :</mat-label>
            <mat-radio-group formControlName="isActive">
                 <mat-radio-button class="radioButton"  value="true">Active</mat-radio-button>
                 <mat-radio-button class="radioButton"  value="false">Inactive</mat-radio-button>
                
               </mat-radio-group>
          </section>
        </div>
              <div class="pt-2">
                
                <app-button type="button" (btnClick)="itemImage.click()" color="warn" text="Upload Image"></app-button>
                <input type="file" (change)="pickedImg($event)" #itemImage>
            </div>

              <div class="pt-2" *ngIf="imagePreview != '' && imagePreview && itemEntryForm.get('image').valid">
                
               <img class="h-15 w-6/12" [src]="imagePreview" alt="">
            </div>

            <app-button type="button" (btnClick)="addItem()" color="warn" text="Add"></app-button>
            
        </div>
        <app-button   color="warn" text="Submit"
        [isDisable]="!itemEntryForm.valid"></app-button>
    
            </form>
            
            
            </div>
         
            <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 mx-auto">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.item_name }} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element"> {{element.description }} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef>Unit </th>
                <td mat-cell *matCellDef="let element">{{element.unit}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            



</body>